.fondo-inicio {
    width: 1349px;
    height: 1000px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-color: $color-naranja;
}